<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.swjtuhc.demo.mapper.OrdersMapper">
	<insert id="insertOrders" parameterType="edu.swjtuhc.demo.model.Orders">  
		insert into orders
		(gid,buytime,address,ordername)
		values
		(#{gid},#{buytime},#{address},#{ordername})
	</insert>


</mapper>             